@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-back-10: #141414;
    --color-back-20: #1c1c1c;
    --color-back-30: #282828;
    --color-fore-10: #828282;
    --color-fore-20: #bdbdbd;
    --color-fore-30: #e0e0e0;
  }
}

.active-tab:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: var(--color-back-20);
}

.tab-suffix:after {
  content: "";
  position: absolute;
  right: -1px;
  height: 35%;
  width: 2px;
  background-color: var(--color-back-30);
}
