@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

.TitleBar {
  -webkit-app-region: drag;
}

.ActionBar {
  -webkit-app-region: no-drag;
}

.ToolbarTooltip {
  padding: 0.25rem 0.75rem !important;
}
